UseColor: true
Checks:
  - -*
  - bugprone-*
    # too many warnings
  - -bugprone-assignment-in-if-condition
    # too many warnings
  - -bugprone-narrowing-conversions
    # kind of nonsense
  - -bugprone-easily-swappable-parameters
    # too many warnings for now
  - -bugprone-implicit-widening-of-multiplication-result
    # Lix's exception handling is Questionable
  - -bugprone-empty-catch
    # many warnings
  - -bugprone-unchecked-optional-access
    # many warnings, seems like a questionable lint
  - -bugprone-branch-clone
    # extremely noisy before clang 19: https://github.com/llvm/llvm-project/issues/93959
  - -bugprone-multi-level-implicit-pointer-conversion
    # we don't compile out our asserts
  - -bugprone-assert-side-effect
    # FIXME(jade): figure out if this warning is any good
  - -bugprone-exception-escape
    # all thrown exceptions must derive from std::exception
  - hicpp-exception-baseclass
    # capturing async lambdas are dangerous
  - cppcoreguidelines-avoid-capturing-lambda-coroutines
    # crimes must be appropriately declared as crimes
  - cppcoreguidelines-pro-type-cstyle-cast
  - lix-*
    # This can not yet be applied to Lix itself since we need to do source
    # reorganization so that lix/ include paths work.
  - -lix-fixincludes
    # This lint is included as an example, but the lib function it replaces is
    # already gone.
  - -lix-hasprefixsuffix


CheckOptions:
  bugprone-reserved-identifier.AllowedIdentifiers: '__asan_default_options'
  bugprone-unused-return-value.AllowCastToVoid: true
