.DS_Store
.idea
*.log

tmp/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directory
/build
# nix-build
/result

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# nix-direnv
.direnv
