[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = lix
[access "refs/*"]
	owner = group user/puckipedia
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/puckipedia
	label-Verified = -1..+1 group user/puckipedia
	push = group user/puckipedia
	read = group user/puckipedia
	rebase = group user/puckipedia
	removeReviewer = group user/puckipedia
	submit = group user/puckipedia
[access "refs/heads/*"]
	create = group user/puckipedia
	push = +force group user/puckipedia
	pushMerge = group user/puckipedia
	read = group user/puckipedia
[access "refs/tags/*"]
	push = group user/puckipedia
	push = +force group user/puckipedia
